@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model RequestModel

@{
    Layout = "_Layout"; // If you have a layout
}
<partial name="_filterLogic" />
@*@using (Html.BeginForm("Index", "Filter", FormMethod.Get))
{
    <div class="input-container">
        <input type="hidden" name="type" value="Apis">
        <input type="text" name="modulename" placeholder="ModuleName">
        <input type="text" name="control" placeholder="Control">
        <input type="text" name="input" placeholder="Input">
        <input type="submit" value="Filter">
    </div>
}*@

@*<h4 class="head-font">Api List</h4>*@
<div class="card-body p-4">
@*<h4>Api list</h4>*@
        <div class="d-flex justify-content-between pb-4 pt-2">
            <h4>Api list</h4>
            <span></span>
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="RequestResp" asp-action="TopRequest">
                <li class="list-group-item ">Top 5 Request</li>
                </a>
            </ul>
        </div>
        <table id="tableData" >
    <thead>
        <tr>
            <th>ModuleName</th>
            <th>Controler</th>
            <th>Action</th>
            <th>RequestTime</th>
            <th>ResponseTime</th>
            <th>TotalRequest</th>
            <th>AverageTime</th>
        </tr>
    </thead>
    </table>
    </div>
@section Scripts{
    <script src="~/js/RequestResp.js"></script>
}
