@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model RequestModel

@{
    Layout = "_Layout"; // If you have a layout
}
<partial name="_filterLogic" />
@*@using (Html.BeginForm("Index", "Filter", FormMethod.Get))
{
    <div class="input-container">
        <input type="hidden" name="type" value="Apis">
        <input type="text" name="modulename" placeholder="ModuleName">
        <input type="text" name="control" placeholder="Control">
        <input type="text" name="input" placeholder="Input">
        <input type="submit" value="Filter">
    </div>
}*@

@*<h4 class="head-font">Api List</h4>*@
@{
    var status = Context.Request.Query["status"];
    var topRequest = "text-dark";
    var details = "text-dark";

    switch (status)
    {
        case "topRequest":
            topRequest = "active text-white bg-dark";
            break;
        case "details":
            details = "active text-white bg-dark";
            break;
        default:
            break;
    }
}


<div class=" my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-0">
        <div class="row"> 
            <div class="col-12 text-center">
                <h4 class="text-white py-2">Api List</h4>
                </div>
        </div>
    </div>
<div class="card-body p-4">
    <div class="d-flex justify-content-between pb-4 pt-2">
        <span></span>
        <ul class="list-group list-group-horizontal-sm">
            <a style="text-decoration:none;" asp-controller="RequestResp" asp-action="Index" asp-route-status="topRequest">
               <li class="list-group-item @topRequest">Top 5 Requst</li>
            </a>
            <a style="text-decoration:none;" asp-controller="RequestResp" asp-action="Index" asp-route-status="details">
               <li class="list-group-item @details">Details</li>
            </a>
        </ul>
    </div>
<table id="tableData" >
    <thead>
        <tr>
            <th>ModuleName</th>
            <th>Controler</th>
            <th>Action</th>
            <th>RequestTime</th>
            <th>ResponseTime</th>
            <th>TotalRequest</th>
            <th>AverageTime</th>
        </tr>
    </thead>
    </table>
    </div>
</div>
</br>

@*<table class="content-table">
<table id="tableData">
    <thead>
        <tr>
            <th>ModuleName</th>
            <th>Controler</th>
            <th>Action</th>
            <th>RequestTime</th>
            <th>ResponseTime</th>
        </tr>
    </thead>
</table>*@
@section Scripts{
    <script src="~/js/RequestResp.js"></script>
}
