html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
    position: fixed;
}
.input-container {
    display: flex;
    justify-content: flex-end;
}

    .input-container input {
        margin-left: 10px; /* Add some space between the input boxes if needed */
    }

.head-font {
    font-weight:bolder;
}
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

    .content-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }
span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*#popup {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 80%;
    z-index: 9999;
}*/

table td {
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
}

table.inputs td {
    padding: 5px;
}

.overflow-container {
    position: relative;
    width: 200px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
}

.overflow-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.popup {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
}
