@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
<style>
    .bg-image
        {
            background-image: url(Images/baground/motilaloswal.jpg.png);
            background-color: #000000;
            /*height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;*/
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    
</style>
</head>
<body class="bg-image text-white">
    <form action="@Url.Action("FilterItems", "YourControllerName")" method="get">
        @*<label for="nameFilter">Name:</label>*@
        <input type="text" name="type" id="typeid" placeholder="Type" />

        @*<label for="categoryFilter">Category:</label>*@
        <input type="text" name="modulename" id="modulenameid" placeholder="moduleName"/>

        @*<label for="priceFilter">Price:</label>*@
        <input type="text" name="input" id="inputid" placeholder="Input"/>

        <input type="submit" value="Filter" />
    </form>
</body>

</html>
