@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_Layout"; // If you have a layout
}
<h4>Insert json text here</h4>

<form action="@Url.Action("ConvertJsonToExcel", "Jsontoexcel")" method="post" enctype="multipart/form-data">
    @*<input type="file" name="jsonFile" id="jsonFile" accept=".json" />*@
    <textarea name="jsonData" id="jsonData" rows="10" cols="40" placeholder="Enter JSON data"></textarea>
    <button type="submit">Convert to Excel</button>
</form>

@*<form id="jsonForm">
    <textarea id="jsonInput" name="jsonText" rows="10" cols="50"></textarea>
    <br />
    <button type="button" id="convertButton">Convert to Excel</button>
</form>
<div id="result"></div>

<script>
    $(document).ready(function () {
        $("#convertButton").click(function () {
            var jsonText = $("#jsonInput").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ConvertJsonTextToExcel", "JsonToexcel")',
                data: JSON.stringify(jsonText),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#result").html('<a href="' + data + '">Download Excel</a>');
                },
                error: function (error) {
                    $("#result").html('Error: ' + error.responseText);
                }
            });
        });
    });
</script>*@